<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dh</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<input type="text" name="" id="words">
<button id="search"> 查询</button>
<script>
    $('#search').click(function () {
        var words = $("#words").val().trim()
        $.post({
            url:"/search",
            data:{
                words:words
            },
            method:'POST',
            success:function (data) {
                console.log("======>",data)
            }
        })
    })
</script>
</body>
</html>